@font-face {
    font-family: Tilt Neon;
    src: url(/fonts/TiltNeon-Regular-VariableFont_XROT\,YROT.ttf);
}
* {
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(./imgs/back.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}


.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 280px;
    height: 420px;
    background-color: gray;
    border: 5px solid black;
    border-radius: 10px;
}

.display{
    width: 240px;
    height: 80px;
    background-color: white;
    display: flex;
    align-items: end;
    justify-content: end;
    overflow: hidden;
    flex-direction: column;
    border: 2px solid black;
}

.valueDisplay{
    font-size: 40px;
    padding-right: 5px;
}

.panel{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    max-width: 290px;
    max-height: 320px;
    border: 1px solid black;
}

.both{
    border: 3px solid black;
    border-radius: 5px;
}

.itemClear{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    background-color: orange;
    font-size: 30px;
}

.wipe{
    background-color: pink;
    font-size: 25px;
    font-family: Tilt Neon;
    display: flex;
    justify-content: center;
    align-items: center;
}

.operator{
    background-color: pink;
    font-size: 25px;
    font-family: Tilt Neon;
}

.itemEqual{
    grid-column-start:3;
    grid-column-end:5;
    background-color: pink;
    font-size: 25px;
    font-family: Tilt Neon;
}

.item{
    width: 60px;
    height: 60px;
    background-color: whitesmoke;
    font-size: 25px;
    font-family: Tilt Neon;
}

.point{
    width: 60px;
    height: 60px;
    background-color: whitesmoke;
    font-size: 25px;
    font-family: Tilt Neon;
}

.itemZero{
    width: 60px;
    height: 60px;
    background-color: whitesmoke;
    font-size: 25px;
    font-family: Tilt Neon;
}

.item:hover{
    background-color: rgba(245, 245, 245, 0.7);
}

.point:hover{
    background-color: rgba(245, 245, 245, 0.7);
}

.operator:hover{
    background-color: rgba(24, 192, 203, 0.7);
}

.wipe:hover{
    background-color: rgba(24, 192, 203, 0.7);
}

.itemEqual:hover{
    background-color: rgba(24, 192, 203, 0.7);
}

.itemClear:hover{
    background-color: rgba(233, 83, 156, 0.9);
}

.itemZero:hover{
    background-color: rgba(245, 245, 245, 0.7);
}
