* {
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(./imgs/back.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 280px;
    height: 420px;
    background-color: gray;
    border: 2px solid black;
    border-radius: 5%;
}

.display{
    width: 240px;
    height: 80px;
    background-color: white;
    display: flex;
    align-items: end;
    justify-content: end;
    overflow: hidden;
    flex-direction: column;
}

.valueDisplay{
    font-size: 40px;
    padding-right: 5px;
}

.output{
    color: rgba(0, 0, 0, 0.5);
    font-size: 25px;
    padding-right: 5px;
}

.panel{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    background-color: brown;
    max-width: 290px;
    max-height: 320px;
}

.itemClear{
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
    background-color: orange;
    font-size: 30px;
}

.operator{
    background-color: pink;
    font-family: cursive;
    font-size: 25px;
    font-family: cursive;
}

.itemEqual{
    grid-column-start:3;
    grid-column-end:5;
    background-color: pink;
    font-size: 25px;
    font-family: cursive;
}

.item{
    width: 60px;
    height: 60px;
    background-color: whitesmoke;
    font-size: 25px;
    font-family: cursive;
}